extends base

block content
  main.main
    .card-container
    
      each plan in plans
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/plans/${plan.imageCover}`, alt=`${plan.name}`)
            h3.heading-tertirary
              span= plan.name

          .card__details
            h4.card__sub-heading= `${plan.difficulty} ${plan.duration}-day plan`
            p.card__text= plan.description
  
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= plan.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})

          .card__footer
            p
              span.card__footer-value= `$${plan.price}`
              | 
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= plan.ratingsAverage
              | 
              span.card__footer-text= `rating (${plan.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/plan/${plan.slug}`) Details