extends base
include _reviewCard

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/plans/${plan.imageCover}`, alt=`${plan.name}`)

    .heading-box
      h1.heading-primary
        span= `${plan.name} plan`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${plan.duration} days`

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = plan.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next date', date, 'calendar')
          +overviewBox('Difficulty', plan.difficulty, 'trending-up')
          +overviewBox('Rating', `${plan.ratingsAverage} / 5`, 'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your trainers

          each trainer in plan.trainers
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${trainer.photo}`, alt=`${trainer.name}`)

              - if (trainer.role === 'training-coordinator')
                span.overview-box__label Training coordinator
              - if (trainer.role === 'trainer')
                span.overview-box__label Plan trainer
              span.overview-box__text= trainer.name

    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${plan.name} plan`
      - const parapraphs = plan.description.split('\n');
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img, i in plan.images
      .picture-box
        img.picture-box__img(src=`/img/plans/${img}`, alt=`General Fitness Plan ${i + 1}`, class=`picture-box__img--${i + 1}`)

  section.section-reviews
    .reviews
      each review in plan.reviews
        +reviewCard(review)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/ike-purple.png', alt='Ike Fitness logo')
      img.cta__img.cta__img--1(src=`/img/plans/${plan.images[1]}`, alt='Plan picture')
      img.cta__img.cta__img--2(src=`/img/plans/${plan.images[2]}`, alt='Plan picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${plan.duration} days. 1 adventure. Infinite memories. Make it yours today!`
        //- button.btn.btn--green.span-all-rows Book plan now!
        if user
          button.btn.btn--green.span-all-rows#book-plan(data-plan-id=`${plan.id}`) Book plan now!
        else
          a.btn.btn--green.span-all-rows(href='/login') Log in to book plan
        